/*For all elements of body*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic-ext');
body{
	background: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size:16px;
	color:#555;
	height: 3000px;

	-webkit-font-smoothing: antialiased;
	-webkit-oevrflow-scrolling: touch;
}

h1, h2, h3, h4 ,h5, h6{
	font-family: "Raleway";
	font-weight: 300;
	color: #000;
}

p{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered{
	text-align: center;
}

a{
	color:#f85c37;
}

a:hover, a:focus{
	coor:#7b7b7b;
	text-decoration: none;
	outline:0;
}

/*All for header-menu*/
button.callback{
	height:35px;
	line-height:40%;
	margin-top: 8px;
	margin-left: 15px;
	border-radius:10px;
	border:none;
	padding: 15px;
	width:125px;
}
button.callback:hover{
	background-color: #D41C1C;
	color:white;
	transition:.35s;
}

hr{
	display: block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar{
	font-weight:500;
	font-size:14px;
	font-family: "";
	padding-top: 15px;
	padding-bottom: 15px;
}
.nav ul li {
	line-height: 100%;
}


.navbar-inverse .navbar-brand{
	color:#999;
	font-weight:bolder;
	font-size:22px;
	letter-spacing:3px;
}

i.fa-adn{
	font-size:50px;
	line-height:;
}
a.logo{
	height: 60px;
	width: 200px;
	color:#aaa;
	margin-left: 2%;
}


a.logo > i.vinta{
	margin-left: 7px;
	letter-spacing:4px;
	font-size:30px;
}
i.A{
	font-size:60px;
	line-height: 75%;
	font-weight: bolder;
	font-family: "raleway";
}

a.logo:hover{
	text-decoration: none;
	color: white;
}

@media (max-width:992px){
	.navbar-collapse ul li{
		font-size:13px;
	}
	#headerwrap h1.welcome{
		font-size:40px;
	}
	#headerwrap h2.help_you{
		font-size:23px;
	}
}


/*For #headewrap*/
#headerwrap{
	background: url(../img/business-3141342_1920.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align:center;
	background-attachment: relative;
	background-position:center center;
	height: auto;
	width:100%;
	background-size: 100%;
	-webkit-background-size:cover;
}
.background{
	/* height:770px; */
	background: rgba(0,0,0,0.55);
	padding: 100px 0;
}
#headerwrap h1{
	padding-top: 100px;
	color:white;
	font-size:50px;
	letter-spacing:3px;
}

#headerwrap h2{
	font-size:28px;
	color: #e1e1e1;
	font-family: "late";
}

/*For content-slider*/
#slider{
	width:1200px;
	height: 340px;
	margin: 50px auto;
	background: rgba(200,200,200,0.2);
	overflow:hidden;
	margin-top: 120px;
	border-radius:20px;
	text-align:left;
	position:;
	margin-left:-50px;
}
#slider h2{
	text-align:center;
}
#slider button.full{
	margin-left: 40%;
}
.news-content{
	width: 400px;
	float: left;
}
#polosa{
	width: 2400px;
	left:0;
	position: relative;
	transition:all 1s ease;
}
.news-content h2, p, button{
	padding: 8px;
	color:white;
}

/*news-line*/
.col-news{
	margin: auto;
	height: 400px;
}
button.prev{
	float: left;
}
button.next{
	float: right;
}

@media (max-width:1280px){
	#slider{
		width: 800px;
		margin: 50px auto;
	}
}

@media (max-width:992px){
	#slider{
		width: 400px;
	}
}

/*about*/
#about{
	margin-top: 50px;
	transition: 0.6s;
}

#second_page{
	background: #f5f5f5;
}

#about p{
	color:black;
}
#block_1, #block_2, #block_3{
	transition: .5s;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity:0;
	border-radius: 10px;
	padding: 20px;
	background: rgba(0,0,0,0.1);
	min-height: 100%;
	margin-bottom: 50px;
	margin-top: 150px;
}

/*Animation for main text*/
#main_text{
	transition: 2.5s;
	opacity: 0;
}

#about i{
	font-size:30px;
}


h2#popular_service{
	margin-top: 60px;
}
#service p{
	color:black;
	text-align: justify;
}

#service button{
	width: 130px;
	height: 30px;
	border-radius: 10px;
	border:0;
	background: #ccc;
}

#service img{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 30px;
	height: 330px;
}

#service{
	margin-top: 20px;
}

@media (max-width: 1320px){
	#service img{
		width:100%;
		height: 100%;
	}
	#service{
		margin-top: 100px;
	}
	#service button{
		width: 220px;
		height: 50px;
	}


}

@media (max-width: 1452px) and (min-width: 1320px){
	#service{
		margin-top: 30px;
	}

}

button#to_order{
	float: left;
	margin-left: 22%;
}
button#consultation{
	float: right;
	margin-right: 22%;
}

/*third page*/
#four_page{
	margin-top: 150px;
	padding-bottom: 30px;
	padding: 0;
}
.four_page{
}
#four_page p{
	color: #f5f5f5;
	text-align: center;
	font-weight: 400;
	font-family: ubuntu;
	font-size: 15px;
}

/*five page*/
.five_page{
	/* margin-top: 100px; */
	background: #f5f5f5;
	padding: 40px 0;
}
#five_page .circle{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	background: white;
	box-shadow: 0 1px 3px #00000030;
}
h2#why_with{
	color: #333;
	font-family: "ralyway";
	font-size: 35px;
	margin-bottom: 40px;
}
h3#h3_in_four_page{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
	font-family: ubuntu;
	text-transform: uppercase;
}

#four_page .col-lg-3{

}

@media (min-width:1200px){
	.five_page{
		/* height: 300px; */
	}
	.five_page .container{
		/* margin-top: 50px; */
	}
}
@media (max-width: 1200px){
	#five_page .circle{
		margin: 65px auto;
	}
}
@media (max-width:992px){
	#five_page .circle{
		margin: 65px auto;
	}
}

/*footer*/
#footer{
	background: #212121;
}
.row-footer{
	margin-top: 30px;
}
#rigth-bar-footer h4.for_clients, h4.OOO_Avinta, h4.We_cooperate{
	color: #ccc;
}
#left-bar-footer h3.footer-phone > a{
	color: #E44D4D;
}
#left-bar-footer #footer-logo{
	text-align: left;
}
#left-bar-footer h3.footer-phone{
	text-align: left;
}
#left-bar-footer h3.footer-phone:hover a{
	text-decoration: none;
	color: white;
}
#left-bar-footer button.question{
	width: 170px;
	border-radius: 20px;
	border: 0;
	font-weight: bold;
	font-size: 17px;
	font-family: "lato";
	margin-bottom: 35px;
	margin-top: 10px;
	float: left;
}
#left-bar-footer button.question:hover{
	background: #E24141;
	color: white;
}
#left-bar-footer i.vinta-footer{
	margin-left: 7px;
	letter-spacing:4px;
	font-size:30px;
	color: #ccc;
}
#left-bar-footer a.logo-footer:hover{
	text-decoration: none;
}
#left-bar-footer i.vinta-footer:hover{
	color: white;

}

#rigth-bar-footer ul li{
	list-style: none;
	margin-top: 5px;
}
#rigth-bar-footer ul{
	float: left;
	margin-left: 10%;
}
#rigth-bar-footer ul li a{
	font-size: 16px;
	color: #A4A4A4;
	font-family: "ralyway";
}
#rigth-bar-footer ul li a:hover{
	color: white;
	text-decoration: none;
}
/*a.logo > i.vinta{
	margin-left: 7px;
	letter-spacing:4px;
	font-size:30px;
}
i.A{
	font-size:60px;
	line-height: 75%;
	font-weight: bolder;
	font-family: "raleway";
	}*/


* {
	outline: none;
}
a, button, input, select, textarea {
	font-family: Arial !important;
}
h2 {
  font-family: inherit !important;
}
button.callback {
	width: auto;
	font-family: Ubuntu !important;
}
#block_1,
#block_2,
#block_3 {
	background: rgb(255, 255, 255);
	border-radius: 4px;
	box-shadow: 0 1px 3px #00000042;
}

.empl_name {
	text-align: center;
	margin-top: 15px;
	font-family: ubuntu;
	font-size: 18px;
	font-weight: 500;
}
.empl_position {
	text-align: center;
	font-family: ubuntu;
	font-size: 15px;
}
.four_page-content {
	background: #4CAF50;
	padding: 40px 0;
}
